<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <a href="/"><img src="/image/idis_logo.png" alt="" width="150" class="mt-2"></a>
    <table class="table mt-3 text-center">
        <thead>
        <tr>
            <th>부서</th>
            <th>사번</th>
            <th>이름</th>
            <th>등록</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person:${people}">
            <td th:text="${person.department}"></td>
            <td th:text="${person.employeeNumber}"></td>
            <td th:text="${person.name}"></td>
            <td><button type="button" class="open-modal but"
                        th:attr="data-name=${person.name},
                    data-phone=${person.phone},
                    data-id=${person.id}">등록</button></td>
            <div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">본인인증</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <input type="text" class="form-control" id="modal-phone-input" readonly placeholder="">
                                <button class="but" type="button" id="sendBtn">인증번호 발송</button>
                            </div>
                            <div class="input-group d-none mt-2">
                                <input type="text" class="form-control" placeholder="인증번호 입력">
                                <button class="but" type="button" style="border: none">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $(document).ready(function () {
                $('.open-modal').click(function (e) {
                    e.preventDefault();
                    const name = $(this).data('name');
                    const phone = $(this).data('phone');
                    const id = $(this).data('id');
                    $('#modal-phone-input').attr('placeholder', phone);
                    $('#myModal').modal('show');
                });
            });
        });
    </script>
</div>
</html>