<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <a href="/"><img src="/image/idis_logo.png" alt="" width="150" class="mt-2"></a>
    <table class="table mt-3 text-center">
        <thead>
        <tr class="table-primary">
            <th>부서</th>
            <th>사번</th>
            <th>이름</th>
            <th>등록</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person:${paging}">
            <td th:text="${person.department}"></td>
            <td th:text="${person.employeeNumber}"></td>
            <td th:text="${person.name}"></td>
            <td>
                <button type="button" class="open-modal but"
                        th:attr="data-name=${person.name},
                    data-phone=${person.phone},
                    data-id=${person.id}">등록
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-2 and page <= paging.number+2}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">본인인증</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" class="form-control" id="modal-phone-input" readonly placeholder="">
                        <button class="but" type="button" id="sendBtn">인증번호 발송</button>
                    </div>
                    <div class="input-group mt-2" id="authBox">
                        <input type="text" class="form-control" placeholder="인증번호 입력" id="verKey">
                        <button class="but" type="button" style="border: none" id="checkBtn">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.open-modal').click(function (e) {
                e.preventDefault();
                const phone = $(this).data('phone');
                $('#sendBtn').attr('data-phone', phone);
                $('#checkBtn').data('id', $(this).data('id'));
                $('#modal-phone-input').val(phone);
                $('#myModal').modal('show');
                $('#authBox').addClass('d-none');
            });

            $('#sendBtn').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/sendSMS",
                    contentType: 'application/json',
                    data: JSON.stringify($(this).data('phone')),
                    success: function (data) {
                        alert(data);
                        $('#authBox').hide().removeClass('d-none').slideDown();
                    },
                    error: function (error) {
                        console.log(error)
                    }
                });
            });

            $('#checkBtn').click(function () {
                const personId = $(this).data('id');
                const verKey = $('#verKey').val();
                $.ajax({
                    type: "POST",
                    url: "/checkVerKey",
                    contentType: 'application/json',
                    data: JSON.stringify(verKey),
                    success: function (data) {
                        alert(data);
                        location.href = "/holiday/set/" + personId;
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</div>
</html>