<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <a href="/"><img src="/image/idis_logo.png" alt="" width="150" class="mt-2"></a>
    <form method="post" th:action="@{|/holiday/set/${person.id}|}" id="holidayForm">
        <div style="width: 90%; margin: 0 auto;">
            <div class="mb-3">
                <div class="tag">부서</div>
                <input type="text" name="department" class="form-control mt-2" readonly th:value="${person.department}">
            </div>
            <div class="mb-3">
                <div class="tag">사번</div>
                <input type="text" name="employeeNumber" class="form-control mt-2" readonly
                       th:value="${person.employeeNumber}">
            </div>
            <div class="mb-3">
                <div class="tag">이름</div>
                <input type="text" name="name" class="form-control mt-2" readonly th:value="${person.name}">
            </div>
            <div class="mb-3">
                <div class="tag">수령인</div>
                <input type="text" id="receiver" name="receiver" class="form-control mt-2">
            </div>
            <div class="mb-3">
                <div class="tag">선물</div>
                <select class="form-select mt-2" name="present" id="present">
                    <option selected disabled>선물을 선택하세요.</option>
                    <option th:each="present : ${presents}"
                            th:value="${present.name()}"
                            th:text="${present.value}">
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <div class="tag mb-3">배송지</div>
                <div class="input-group">
                    <input type="text" class="form-control" id="postCode" name="postCode" readonly>
                    <button class="but" type="button" id="searchBtn">우편번호 검색</button>
                </div>
                <input type="text" class="form-control mt-2" id="address" name="address" readonly>
                <input type="text" class="form-control mt-2" id="detail" name="detail"
                       placeholder="상세주소를 입력하세요.">
            </div>
            <div class="mt-4 mb-4 text-end">
                <button type="button" class="but" id="submitBtn">제출</button>
            </div>
        </div>
        <input type="hidden" name="personId" th:value="${person.id}">
    </form>
    <script>
        $(document).ready(function () {
            $('#searchBtn').on('click', function () {
                new daum.Postcode({
                    oncomplete: function (data) {
                        $('#postCode').val(data.zonecode);
                        $('#address').val(data.roadAddress);
                    }
                }).open();
            });

            $('#submitBtn').on('click', function () {
                if ($('#receiver').val() === '')
                    alert("수령인을 입력해주세요.");
                else if ($('#present').val() === null || $('#present').val() === '선물을 선택하세요.')
                    alert("선물을 선택해주세요.");
                else if ($('#postCode').val().trim() === '' || $('#address').val().trim() === '')
                    alert("주소를 입력해주세요.");
                else if ($('#detail').val().trim() === '')
                    alert("상세주소를 입력해주세요.");
                else {
                    console.log($('#recipient').val());
                    if (confirm("배송정보를 저장하시겠습니까?"))
                        $('#holidayForm').submit();
                }
            });
        });
    </script>
</div>
</html>
