<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div>
        <img src="/image/idis_logo.png" alt="" id="logo">
        <a href="/holiday/list" class="link">
            <img src="/image/gift.png" alt="" class="menuImage">
            <span class="linkText">명절 선물 정보 입력</span>
        </a>
        <a href="/" class="link">
            <img src="/image/cake.png" alt="" class="menuImage">
            <span class="linkText">생일케이크 정보 입력</span>
        </a>
        <a href="/" class="link">
            <img src="/image/ribbon.png" alt="" class="menuImage">
            <span class="linkText">격려품 정보 입력</span>
        </a>
    </div>
</div>
</html>